#solutions{
    margin-bottom: 100px;
    background-color: $darkBlue;
    border-top-right-radius: 150px;
    border-bottom-left-radius: 150px;
    padding: 100px 100px;
    .btn{
        color : $darkBlue;
        i{
            color : $darkBlue;
            font-size: 22px;
        }
    }
}